// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$found-border: solid 5px rgb(58, 250, 58);

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: lightblue;
  height: 100%;
  width: 1600px;
  border: solid 1px lightblue;
  color: rgb(64, 66, 66);
  font-weight: 100;
}

img {
  cursor: crosshair;
  width: 1600px;
}

.counter {
  border-radius: 5px;
  color: rgb(46, 45, 45);
  position: absolute;
  left: 2px;
  background-color: white;
  border: solid black 0.5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.table-ctn {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}

table,
th,
td {
  width: 100%;
}

.title-name {
  display: flex;
  justify-self: flex-start;
}

.button-ctn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(172, 182, 192);
}

.pop-up {
  position: absolute;
  margin: 7px;
  text-decoration: none;
}

.char-options {
  background-color: lightblue;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  border: 0.5px solid rgb(73, 73, 73);
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.char-options a {
  text-decoration: none;
  color: rgb(46, 45, 45);
}

.char-options a:hover {
  background-color: lightcoral;
  cursor: pointer;
  border-radius: 5px;
}

#found-waldo {
  position: absolute;
  display: none;
  border: $found-border;
  border-radius: 5px;
  height: 40px;
  width: 25px;
  top: 434px;
  left: 975px;
}

#found-wenda {
  position: absolute;
  display: none;
  border: $found-border;
  border-radius: 5px;
  height: 40px;
  width: 25px;
  top: 470px;
  left: 1220px;
}

#found-whitebeard {
  position: absolute;
  display: none;
  border: $found-border;
  border-radius: 5px;
  height: 40px;
  width: 25px;
  top: 415px;
  left: 415px;
}

#found-odlaw {
  position: absolute;
  display: none;
  border: $found-border;
  border-radius: 5px;
  height: 40px;
  width: 25px;
  top: 417px;
  left: 152px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
  padding-top: 20px;
  height: 20px;
}